.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  overflow: visible;
  height: auto;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 23px;
}

.body.black {
  overflow: visible;
  background-color: #14151f;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  position: static;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #14151f;
}

.nav.white {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  color: #14151f;
}

.button {
  display: block;
  width: 130px;
  padding: 10px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #5ebf0d;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}

.button.nav {
  display: none;
  margin-right: 0px;
  margin-left: 0px;
}

.button.button-hero {
  display: block;
  width: 200px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.button.button-hero.button-card {
  position: absolute;
  left: 45px;
  top: 310px;
  width: 120px;
  padding-right: 20px;
  padding-left: 20px;
}

.button.button-hero.press-release {
  margin-right: 25px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #5ebf0d;
  color: #fff;
}

.button.button-hero.language {
  margin-right: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.button.forms {
  width: 180px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: none;
  border-width: 1px;
  border-color: #5ebf0c;
  background-color: #5ebf0c;
  color: #fff;
  font-size: 14px;
}

.button.button-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 10px;
  padding: 8px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #5ebf0d;
  background-color: rgba(253, 255, 252, 0);
  color: #5ebf0d;
  font-size: 14px;
  font-weight: 500;
}

.button.button-nav.button-nav-green {
  margin-left: 20px;
  background-color: #5ebf0d;
  color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  overflow: visible;
  padding-top: 0px;
  background-color: #fff;
  opacity: 1;
}

.navbar.black {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
}

.image {
  width: 150px;
  max-width: none;
}

.nav-link.selected {
  border: 1px none #000;
  color: #5ebf0d;
  text-decoration: none;
}

.nav-link.selected.dropdown-menu {
  display: block;
}

.nav-link.white {
  color: #1c1e2c;
}

.nav-link.white:hover {
  color: #5ebf0d;
}

.nav-link.white.dropdown-menu {
  display: block;
  color: #fff;
}

.nav-link.white.dropdown-menu:hover {
  color: #5ebf0d;
}

.nav-link.white.dropdown-menu.super-white {
  background-color: transparent;
  color: #fff;
}

.nav-link.white.dropdown-menu.selected {
  color: #5ebf0d;
}

.nav-link.white.selected {
  color: #5ebf0d;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.h1 {
  padding-bottom: 40px;
  color: #1c1e2c;
  font-size: 65px;
  line-height: 70px;
  font-weight: 800;
  text-align: center;
}

.h1.white {
  width: 900px;
  color: #fff;
  font-size: 60px;
}

.div-block-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding-top: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-1 {
  color: #1c1e2c;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.paragraph-1.card-shadow {
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph-1.card-shadow.white {
  margin-top: -8px;
  padding-bottom: 0px;
}

.paragraph-1.white {
  width: 750px;
  color: #a8a8a8;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.tilted-color-block {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100vw;
  height: 1000px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: linear-gradient(135deg, #158020, #92ec00 87%);
  opacity: 1;
  outline-color: #1c1e2c;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.tilted-color-block.press-release {
  height: auto;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
}

.h2-pocha {
  position: absolute;
  overflow: visible;
  margin-top: 367px;
  margin-left: 22px;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}

.section-1 {
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 26px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: absolute;
  display: block;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.image-4 {
  z-index: 1;
  width: 100%;
  max-width: 1140px;
  min-width: 1000px;
  margin-top: 90px;
}

.image-4.black {
  top: 605px;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 28px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}

.h2.usless-4 {
  color: #1c1e2c;
  font-size: 28px;
}

.h2.usless-4.card-shadow {
  padding-top: 35px;
}

.h2.usless-4.white {
  padding-bottom: 20px;
  border-radius: 0px;
  color: #fff;
}

.h2.slide-nav {
  color: #14151f;
}

.h2.black {
  width: 875px;
  color: #1c1e2c;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: -359px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2.press {
  margin-top: 133px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 16px 0 #c5c5c5;
  color: #1c1d2b;
}

.div-block-3.black {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #14151f;
  box-shadow: 2px 2px 16px 0 #000;
}

.div-block-3.black.hackathons {
  margin-top: 0px;
}

.card {
  position: relative;
  display: block;
  width: 95%;
  height: 400px;
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  border-radius: 15px;
  background-color: #ecfdde;
}

.card.orange {
  background-color: #fdf5dd;
}

.card.blue {
  background-color: #e0fffa;
}

.card.purple {
  padding-bottom: 0px;
  background-color: #ece2fd;
}

.useless-2 {
  padding-bottom: 27px;
  color: #1c1e2c;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.useless-2.green {
  padding-left: 0px;
  color: #5ebf0d;
  font-weight: 700;
}

.useless-2.right {
  line-height: 40px;
}

.useless-2.orange {
  color: #f5b40a;
}

.useless-2.blue {
  color: #00e0bb;
}

.useless-2.purple {
  color: #833ff3;
}

.paragraph-card {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}

.paragraph-card.useless {
  color: #5ebf0d;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-card.orange {
  color: #f5b40a;
}

.paragraph-card.blue {
  color: #00e0bb;
}

.paragraph-card.purple {
  color: #833ff3;
}

.paragraph-card.green {
  color: #5ebf0d;
}

.bold-text {
  color: #1c1e2c;
}

.right-image-card {
  margin-top: -235px;
  margin-left: 222px;
}

.bold-text-2 {
  font-size: 35px;
}

.div-block-4 {
  margin-right: 31px;
  text-align: right;
}

.div-block-5 {
  margin-left: 31px;
}

.image-5 {
  position: absolute;
  left: 22px;
  top: -5px;
  width: 450px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.image-6 {
  position: absolute;
  left: auto;
  top: 11px;
  right: 8px;
  width: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.video {
  position: static;
  width: auto;
  height: auto;
  margin-top: -343px;
  margin-bottom: 0px;
  margin-left: 461px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.youtube {
  display: inline-block;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-6 {
  position: absolute;
  top: 57px;
  right: 63px;
  width: 27%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.image-7 {
  position: absolute;
  left: 18px;
  top: 26px;
  width: 700px;
  margin-top: 0px;
  margin-left: 0px;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4.black {
  margin-top: 70px;
  padding-top: 0px;
}

.slider {
  display: block;
  width: 5%;
  margin-top: 48px;
}

.logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.slide {
  background-color: #fff;
}

.icon {
  background-color: transparent;
  color: #5ebf0d;
}

.icon-2 {
  color: #5ebf0d;
}

.slide-nav {
  background-color: transparent;
}

.logo {
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 0px;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.logo:hover {
  box-shadow: 0 0 3px 0 #9b9b9b, -4px -4px 0 0 #5ebf0d;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  padding-top: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(142deg, #158020, #92ec00 87%);
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
  margin-top: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -10px -9px 0 0 #5ebf0d, 1px 1px 10px 0 #b8b8b8;
}

.div-block-8.black {
  box-shadow: -10px -9px 0 0 #5ebf0d, 1px 1px 10px 0 #000;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.form-block {
  display: none;
  width: 600px;
  margin-top: 90px;
  margin-bottom: 200px;
}

.field-label {
  color: #fff;
}

.field-label-2 {
  color: #fff;
}

.text-field {
  overflow: visible;
  margin-right: 26px;
  margin-bottom: 0px;
  opacity: 1;
}

.slider-2 {
  z-index: 0;
  display: block;
  width: 95%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.slider-2.tablet {
  display: none;
}

.slider-2.mobile {
  display: none;
}

.div-block-9 {
  position: relative;
  top: 0px;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-bottom: 0px;
  padding-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #14151f;
}

.slider-hack {
  position: relative;
  width: 230px;
  height: 400px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px 10px 0px;
  border-radius: 10px;
  background-color: #1c1d2b;
  box-shadow: -4px -4px 0 0 #5ebf0d;
}

.text {
  position: absolute;
  width: 180px;
  color: #a8a8a8;
  font-size: 12px;
}

.div-block-10 {
  position: absolute;
  left: 4px;
  top: 3px;
}

.title-hackathon {
  position: absolute;
  top: 93px;
  width: 180px;
  color: #fff;
}

.footer-hackathon {
  position: absolute;
  left: 11px;
  top: 282px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.location {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 509%;
  padding-bottom: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-8 {
  padding-bottom: 3px;
}

.image-9 {
  padding-bottom: 3px;
}

.image-10 {
  position: static;
  left: 14px;
  top: 10px;
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.mask {
  height: 450px;
  padding-top: 23px;
  padding-bottom: 57px;
  background-color: #14151f;
}

.slide-nav-2 {
  top: 515px;
  background-color: #14151f;
}

.image-11 {
  margin-top: -36px;
  margin-bottom: -55px;
}

.menu-button {
  overflow: hidden;
}

.h-card {
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}

.h-card.green {
  color: #5ebf0d;
}

.h-card.orange {
  color: #f5b40a;
}

.h-card.blue {
  color: #00e0bb;
}

.h-card.purple {
  color: #833ff3;
}

.image-card-1 {
  position: absolute;
  left: auto;
  top: 14px;
  right: 25px;
  width: 525px;
}

.description-hackathon {
  position: absolute;
  left: auto;
  top: 141px;
  max-width: 90%;
  color: #a8a8a8;
  font-size: 12px;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown {
  border: 1px none #000;
  color: #fff;
}

.dropdown-2 {
  display: block;
  width: 100%;
  padding-bottom: 0px;
  border: 1px none #000;
  color: #fff;
  text-align: center;
}

.icon-4 {
  color: #fff;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 40px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #5ebf0d;
}

.brand {
  display: block;
  width: 20%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.dropdown-list {
  left: auto;
  top: 83%;
  right: 0%;
  bottom: auto;
  display: none;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5ebf0d;
}

.dropdown-list.w--open {
  top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 10px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-16 {
  width: 100px;
}

.dropdown-link {
  padding-top: 0px;
  color: #14151f;
  text-align: right;
  text-decoration: none;
}

.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.link-block.w--current {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-block.provisional {
  display: none;
}

.underline {
  position: absolute;
  left: 10px;
  top: 31px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  color: #14151f;
}

.underline.dropdown {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 11%;
  display: block;
  background-color: #14151f;
}

.underline.black {
  background-color: #1c1e2c;
}

.dropdown-block {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.navbar-2 {
  background-color: #fff;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.light-text {
  margin-bottom: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block {
  margin-bottom: 21px;
}

.image-13 {
  position: relative;
  top: -5px;
  width: 150px;
  margin-top: 0px;
}

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.image-14 {
  width: 30px;
}

.social-network-image {
  height: 20px;
  min-width: 20px;
  margin-right: 10px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-light-block {
  padding-left: 10px;
}

.footer-text {
  color: #fff;
  font-size: 16px;
}

.footer-text-block.provisional {
  display: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.success-message {
  background-color: rgba(120, 210, 15, 0);
}

.error-message {
  border-radius: 5px;
  background-color: #ff4a4a;
}

.footer-link-text-block {
  color: #fff;
  text-decoration: none;
}

.contact-email {
  padding-top: 10px;
  color: #fff;
  text-decoration: none;
}

.link-block-2 {
  color: #fff;
  text-decoration: none;
}

.footer-light-block-link {
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

.update {
  margin-top: 15px;
  margin-bottom: 50px;
  padding-bottom: 0px;
}

.text-block-2 {
  margin-bottom: 20px;
  line-height: 20px;
}

.text-block-2.text-underline {
  text-decoration: underline;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.body-2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  text-align: left;
}

.div-block-22 {
  width: 850px;
}

.list-item {
  margin-bottom: 15px;
  line-height: 20px;
}

.list {
  margin-bottom: 20px;
  list-style-type: square;
}

.list.list-numbers {
  list-style-type: decimal;
}

.heading {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nested-list {
  list-style-type: none;
}

.list-item-2 {
  list-style-type: disc;
}

.list-item-3 {
  list-style-type: disc;
}

.html-embed {
  margin-bottom: 20px;
  border-radius: 0px;
}

.last-hackathon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
}

.feature-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 1000px;
}

.feature-image {
  width: auto;
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-23 {
  width: auto;
  margin-left: 0px;
  color: #1c1e2c;
}

.heading-3 {
  margin-top: 0px;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-24 {
  width: 60%;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-26 {
  width: 45%;
  padding-left: 25px;
}

.titular {
  margin-top: 0px;
  color: #1c1e2c;
  line-height: 42px;
}

.texto-titular {
  color: #1c1e2c;
}

.grid {
  width: 80%;
}

.div-block-27 {
  padding-bottom: 10px;
}

.heading-4 {
  text-align: left;
}

.heading-4.press-release {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #1c1e2c;
  line-height: 35px;
}

.div-block-28 {
  padding-bottom: 10px;
}

.article {
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
}

.press-release {
  color: #1c1e2c;
}

.companies-trust {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-3 {
  font-family: Montserrat, sans-serif;
  color: #1c1e2c;
}

.image-17 {
  width: 800px;
}

.heading-5 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 50px;
}

.heading-6 {
  color: #1c1e2c;
  font-size: 16px;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-span {
  color: transparent;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1064px;
  min-width: 850px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #14151f;
}

.navbar-3.white {
  background-color: rgba(20, 21, 31, 0);
  color: #fff;
}

.brand-2 {
  padding-left: 0px;
}

.text-span-2 {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .body {
    overflow: visible;
    font-size: 14px;
  }

  .body.no-scroll {
    overflow: hidden;
  }

  .nav.white {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .button.button-hero {
    margin-top: 27px;
  }

  .button.button-hero.button-card {
    left: 56px;
    top: 323px;
  }

  .button.button-nav {
    width: 150px;
    margin-top: 16px;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .button.button-nav.button-nav-green {
    margin-left: 0px;
  }

  .nav-menu {
    width: 100%;
    height: auto;
    text-align: left;
  }

  .navbar.black {
    overflow: visible;
  }

  .nav-link.selected {
    background-color: #14151f;
  }

  .nav-link.selected.dropdown-menu {
    background-color: transparent;
    color: #fff;
  }

  .nav-link.white {
    background-color: #fff;
    font-weight: 600;
  }

  .nav-link.white.dropdown-menu {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
  }

  .nav-link.white.dropdown-menu.bottom {
    box-shadow: 0 0 0 0 #000;
  }

  .nav-link.white.dropdown-menu.super-white {
    color: #14151f;
  }

  .h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .h1.white {
    width: 650px;
    font-size: 42px;
    line-height: 54px;
  }

  .div-block-1 {
    padding-top: 30px;
  }

  .paragraph-1 {
    font-size: 16px;
    font-weight: 300;
  }

  .paragraph-1.card-shadow {
    font-weight: 300;
  }

  .paragraph-1.white {
    width: 550px;
  }

  .tilted-color-block {
    height: 850px;
  }

  .image-4 {
    top: 327px;
    width: 791px;
    max-width: none;
    min-width: 0px;
  }

  .image-4.black {
    top: 522px;
  }

  .h2 {
    font-size: 25px;
    line-height: 32px;
  }

  .h2.usless-4 {
    font-size: 20px;
  }

  .h2.h2-tilted-section {
    margin-top: 0px;
    padding-top: 284px;
  }

  .h2.black {
    width: 700px;
  }

  .section-2 {
    margin-top: -272px;
  }

  .section-3 {
    margin-top: -211px;
  }

  .div-block-3 {
    width: 670px;
  }

  .card {
    height: 280px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .card.orange {
    height: 300px;
  }

  .card.blue {
    height: 300px;
  }

  .card.purple {
    height: 300px;
  }

  .useless-2 {
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 33px;
  }

  .paragraph-card {
    font-size: 16px;
    line-height: 20px;
  }

  .paragraph-card.useless-3 {
    color: #5ebf0d;
  }

  .right-image-card {
    margin-top: -173px;
  }

  .image-5 {
    left: 15px;
    top: -2px;
    width: 340px;
    max-width: none;
  }

  .image-6 {
    left: auto;
    top: 6px;
    width: 300px;
  }

  .youtube {
    margin-top: 25px;
    margin-left: 0px;
  }

  .div-block-6 {
    left: auto;
    top: 18px;
    right: 42px;
  }

  .image-7 {
    top: 19px;
    width: 525px;
  }

  .section-4 {
    padding-top: 0px;
  }

  .logos {
    width: 650px;
    margin-top: 30px;
  }

  .logo:hover {
    box-shadow: 0 0 3px 0 #9b9b9b, -3px -3px 0 0 #5ebf0d;
  }

  .section-5 {
    margin-top: 130px;
    padding-top: 80px;
  }

  .div-block-8 {
    width: 670px;
    margin-top: 127px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-block {
    margin-top: 0px;
    margin-bottom: 120px;
  }

  .slider-2 {
    display: none;
  }

  .slider-2.tablet {
    display: block;
  }

  .slider-hack {
    width: 230px;
  }

  .title-hackathon {
    top: 99px;
  }

  .footer-hackathon {
    top: 288px;
  }

  .image-10 {
    width: 220px;
  }

  .image-11 {
    margin-top: -21px;
    margin-bottom: -33px;
  }

  .menu-button {
    color: #1c1e2c;
  }

  .h-card {
    font-size: 25px;
    line-height: 32px;
  }

  .image-card-1 {
    left: auto;
    right: 10.281px;
    width: 365px;
  }

  .description-hackathon {
    top: 146px;
    width: 200px;
    max-width: 100%;
  }

  .brand {
    width: auto;
  }

  .div-block-15 {
    width: 25%;
  }

  .menu-button-2 {
    position: static;
    overflow: visible;
    width: 25%;
    padding-right: 27px;
  }

  .menu-button-2.w--open {
    width: auto;
    background-color: #fff;
  }

  .icon-5 {
    color: #1c1e2c;
  }

  .icon-5.white {
    color: #fff;
  }

  .dropdown-list.w--open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 35px;
    padding-bottom: 7px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #1c1d2b;
  }

  .dropdown-link {
    color: #1c1d2b;
    font-size: 14px;
    text-decoration: none;
  }

  .bottom {
    position: relative;
    overflow: hidden;
    height: auto;
    padding-top: 0px;
    padding-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #14151f;
  }

  .bottom.white {
    background-color: #fff;
  }

  .dropdown-toggle {
    font-size: 14px;
  }

  .link-block {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 0px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .link-block.w--current {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .underline {
    position: absolute;
    left: 19px;
    top: 25px;
    display: block;
    background-color: #14151f;
  }

  .dropdown-block {
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
  }

  .menu-button-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-image {
    display: block;
  }

  .footer {
    width: 670px;
  }

  .light-text {
    font-size: 12px;
  }

  .div-block-19 {
    margin-bottom: 30px;
  }

  .image-13 {
    width: 130px;
  }

  .social-network-image {
    height: 15px;
    max-width: none;
    min-width: 0px;
  }

  .footer-text {
    font-size: 14px;
  }

  .div-block-22 {
    width: 650px;
  }

  .section-7 {
    margin-top: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .div-block-24 {
    width: 100%;
    text-align: center;
  }

  .div-block-25 {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-26 {
    width: 100%;
    margin-top: 29px;
    padding-left: 0px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image-16 {
    max-width: 100%;
  }

  .nav-menu-2 {
    position: absolute;
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #14151f;
  }

  .nav-menu-2.white {
    height: 100vh;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #fff;
  }

  .navbar-main {
    overflow: visible;
    width: 670px;
    max-width: none;
    min-width: 0px;
  }

  .navbar-3 {
    position: relative;
    overflow: visible;
  }

  .icon-6 {
    display: none;
    overflow: visible;
    color: #1c1e2c;
  }

  .icon-6.hidden {
    display: none;
  }

  .menu-button-3 {
    display: block;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button-3.w--open {
    background-color: hsla(0, 0%, 100%, 0);
  }

  .cross {
    display: none;
    opacity: 1;
  }

  .cross.no-hidden {
    display: block;
  }

  .hamburguer.hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .body {
    font-size: 12px;
  }

  .button.button-hero {
    width: 140px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 12px;
  }

  .button.button-hero.button-card {
    top: 319px;
  }

  .button.button-hero.language {
    width: 160px;
  }

  .button.forms {
    font-size: 12px;
  }

  .nav-link.white.dropdown-menu {
    position: relative;
  }

  .h1 {
    font-size: 38px;
    line-height: 43px;
  }

  .h1.white {
    width: 500px;
    font-size: 38px;
    line-height: 48px;
  }

  .paragraph-1 {
    font-size: 14px;
  }

  .paragraph-1.white {
    width: 450px;
    line-height: 19px;
  }

  .tilted-color-block {
    height: 675px;
  }

  .image-4 {
    top: 340px;
    width: 608px;
    margin-top: 71px;
  }

  .image-4.black {
    top: 563px;
  }

  .h2 {
    font-size: 23px;
    line-height: 27px;
  }

  .h2.h2-tilted-section {
    padding-top: 248px;
  }

  .h2.black {
    width: 500px;
    padding-bottom: 20px;
    line-height: 30px;
  }

  .section-2 {
    margin-top: -194px;
  }

  .section-3 {
    margin-top: -180px;
  }

  .div-block-3 {
    width: 520px;
    border-radius: 20px;
  }

  .card {
    display: block;
    height: 275px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .card.orange {
    height: 325px;
  }

  .card.blue {
    height: 350px;
  }

  .paragraph-card {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }

  .paragraph-card.orange {
    text-align: right;
  }

  .paragraph-card.purple {
    text-align: right;
  }

  .div-block-4 {
    margin-right: 0px;
    padding-right: 20px;
    text-align: right;
  }

  .div-block-5 {
    margin-left: 0px;
    padding-left: 20px;
    text-align: center;
  }

  .image-5 {
    left: -10px;
    top: 22px;
    width: 300px;
  }

  .image-6 {
    top: 48px;
    right: 3px;
    width: 310px;
  }

  .div-block-6 {
    top: 57px;
    right: 45px;
    width: 34%;
  }

  .image-7 {
    left: 12px;
    top: 69px;
    width: 450px;
  }

  .logos {
    width: 500px;
  }

  .logo:hover {
    box-shadow: 0 0 3px 0 #9b9b9b, -2px -2px 0 0 #5ebf0d;
  }

  .section-5 {
    padding-top: 30px;
  }

  .div-block-8 {
    width: 520px;
    margin-top: 100px;
  }

  .form-block {
    width: 400px;
    margin-bottom: 90px;
  }

  .slider-2.tablet {
    display: none;
  }

  .slider-2.mobile {
    display: block;
  }

  .image-11 {
    margin-top: -6px;
    margin-bottom: -10px;
  }

  .h-card {
    font-size: 23px;
    line-height: 28px;
    text-align: left;
  }

  .h-card.orange {
    text-align: right;
  }

  .h-card.purple {
    text-align: right;
  }

  .image-card-1 {
    top: 36px;
    right: 7.281px;
    width: 320px;
  }

  .div-block-14 {
    width: 120px;
    height: 35px;
  }

  .brand.w--current {
    padding-left: 0px;
  }

  .menu-button-2 {
    display: block;
    width: auto;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .dropdown-list.w--open {
    padding-bottom: 5px;
  }

  .dropdown-link {
    font-size: 12px;
  }

  .dropdown-toggle {
    font-size: 12px;
  }

  .link-block {
    position: relative;
  }

  .underline {
    position: absolute;
    right: auto;
    bottom: 0%;
    width: 75%;
  }

  .menu-button-block {
    width: auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer {
    width: 520px;
  }

  .div-block-19 {
    margin-bottom: 20px;
  }

  .image-13 {
    top: -2px;
    width: 110px;
  }

  .social-networks {
    padding-top: 5px;
  }

  .social-network-image {
    height: 12px;
  }

  .footer-text {
    font-size: 12px;
  }

  .footer-link-text-block {
    display: none;
  }

  .footer-link-text-block.w--current {
    display: none;
  }

  .div-block-22 {
    width: 450px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .titular {
    font-size: 28px;
    line-height: 35px;
  }

  .companies-trust {
    margin-top: 100px;
  }

  .navbar-main {
    overflow: visible;
    width: 530px;
    min-width: 0px;
  }

  .menu-button-3 {
    padding-right: 0px;
  }

  .menu-button-3.w--open {
    overflow: visible;
  }
}

@media screen and (max-width: 479px) {
  .body {
    font-size: 10px;
    line-height: 15px;
  }

  .button.nav {
    margin-right: 0px;
  }

  .button.button-hero {
    width: 110px;
    padding: 4px 20px;
    font-size: 10px;
  }

  .button.button-hero.button-card {
    left: 32px;
    top: 251px;
    width: 100px;
  }

  .button.forms {
    width: 150px;
    padding: 6px 15px;
    font-size: 10px;
  }

  .button.button-nav {
    font-size: 14px;
  }

  .image {
    width: 125px;
  }

  .nav-link {
    font-size: 10px;
  }

  .nav-link.selected.dropdown-menu {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-link.white {
    font-size: 14px;
  }

  .nav-link.white.dropdown-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  .h1 {
    padding-bottom: 15px;
    font-size: 32px;
    line-height: 40px;
  }

  .h1.white {
    width: 390px;
    font-size: 32px;
    line-height: 40px;
  }

  .div-block-1 {
    padding-top: 20px;
  }

  .paragraph-1 {
    width: 70%;
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph-1.card-shadow {
    width: 80%;
  }

  .paragraph-1.white {
    width: 320px;
    line-height: 16px;
  }

  .div-block-2 {
    margin-top: 19px;
  }

  .tilted-color-block {
    height: 400px;
  }

  .tilted-color-block.press-release {
    padding-top: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-4 {
    top: 277px;
    overflow: hidden;
    width: 374px;
    margin-top: 40px;
  }

  .image-4.black {
    top: 482px;
  }

  .h2 {
    font-size: 17px;
    line-height: 21px;
  }

  .h2.h2-tilted-section {
    padding-top: 137px;
    font-size: 15px;
  }

  .h2.black {
    width: 310px;
    line-height: 22px;
  }

  .section-2 {
    margin-top: -99px;
  }

  .section-3 {
    margin-top: -90px;
  }

  .div-block-3 {
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
  }

  .div-block-3.black {
    height: auto;
    margin-top: 0px;
  }

  .div-block-3.black.hackathons {
    height: 540px;
  }

  .card {
    height: 370px;
  }

  .card.orange {
    height: 410px;
  }

  .card.blue {
    height: 420px;
  }

  .card.purple {
    height: 310px;
  }

  .paragraph-card {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: center;
  }

  .paragraph-card.orange {
    text-align: center;
  }

  .paragraph-card.purple {
    text-align: center;
  }

  .div-block-4 {
    padding-right: 0px;
  }

  .div-block-5 {
    padding-left: 0px;
  }

  .image-5 {
    left: 21px;
    top: 178px;
    width: 250px;
  }

  .image-6 {
    top: 166px;
    right: 19px;
    width: 260px;
  }

  .div-block-6 {
    top: 169px;
    right: 49px;
    width: 50%;
  }

  .image-7 {
    left: 0px;
    top: 142px;
    width: 320px;
  }

  .section-4.black {
    margin-top: 30px;
  }

  .logos {
    display: -ms-grid;
    display: grid;
    width: 300px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .logo {
    -webkit-transition: box-shadow 100ms ease;
    transition: box-shadow 100ms ease;
  }

  .logo:hover {
    position: relative;
    box-shadow: -3px -3px 0 2px #5ebf0d;
    outline-color: #fff;
    outline-offset: 0px;
    outline-style: solid;
    outline-width: 2px;
    mix-blend-mode: normal;
  }

  .section-5 {
    margin-top: 70px;
    padding-top: 45px;
  }

  .div-block-8 {
    width: 310px;
    margin-top: 70px;
  }

  .div-block-8.black {
    width: 320px;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-field {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .slider-2 {
    margin-top: 20px;
  }

  .slider-2.mobile {
    height: 380px;
    margin-bottom: -15px;
  }

  .slider-hack {
    height: 260px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .slider-hack.secondary {
    height: 320px;
  }

  .title-hackathon {
    left: 8px;
    top: 76px;
    width: 140px;
    font-size: 10px;
    line-height: 16px;
  }

  .footer-hackathon {
    left: 12px;
    top: 217px;
    width: 85%;
  }

  .location {
    font-size: 8px;
  }

  .image-10 {
    left: 8px;
    width: 175px;
  }

  .mask {
    height: 380px;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .slide-nav-2 {
    top: 322px;
  }

  .image-11 {
    max-width: 117%;
  }

  .h-card {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .h-card.green {
    font-size: 17px;
    line-height: 21px;
  }

  .h-card.orange {
    text-align: center;
  }

  .h-card.purple {
    text-align: center;
  }

  .image-card-1 {
    top: 169px;
    right: 18.281px;
    width: 270px;
  }

  .description-hackathon {
    left: 8px;
    top: 105px;
    width: 140px;
    font-size: 9px;
    line-height: 15px;
  }

  .image-12 {
    overflow: visible;
  }

  .icon-3 {
    width: 50px;
  }

  .dropdown {
    font-size: 10px;
  }

  .icon-4 {
    left: auto;
    top: 41%;
    right: -8%;
    bottom: auto;
  }

  .div-block-14 {
    width: 80px;
    height: 25px;
  }

  .div-block-15 {
    width: 30%;
  }

  .icon-5 {
    margin-left: 0px;
  }

  .dropdown-list.w--open {
    padding-right: 13px;
    padding-bottom: 2px;
  }

  .dropdown-link {
    font-size: 10px;
  }

  .dropdown-toggle {
    position: relative;
    padding-right: 30px;
    padding-left: 12px;
    text-align: center;
  }

  .link-block {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer {
    width: 310px;
  }

  .light-text {
    font-size: 10px;
  }

  .image-13 {
    top: 0px;
  }

  .div-block-21 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-light-block {
    padding-left: 5px;
  }

  .footer-text-block {
    display: none;
  }

  .utility-page-content {
    width: 300px;
  }

  .footer-link-text-block {
    display: none;
  }

  .footer-link-text-block.w--current {
    display: none;
  }

  .footer-light-block-link {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .update {
    margin-bottom: 20px;
  }

  .text-block-2 {
    margin-bottom: 15px;
  }

  .body-2 {
    font-size: 10px;
  }

  .div-block-22 {
    width: 300px;
  }

  .list-item {
    margin-bottom: 10px;
  }

  .heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .heading.h4 {
    font-size: 16px;
  }

  .heading-2 {
    font-size: 28px;
  }

  .image-15 {
    padding-bottom: 10px;
  }

  .section-7 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .div-block-26 {
    margin-top: 12px;
  }

  .titular {
    font-size: 22px;
    line-height: 26px;
  }

  .texto-titular {
    font-size: 12px;
    line-height: 17px;
  }

  .grid {
    width: 100%;
    grid-auto-flow: row dense;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .heading-4.press-release {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 27px;
  }

  .press-release {
    font-size: 12px;
    line-height: 17px;
  }

  .companies-trust {
    margin-top: 70px;
  }

  .image-17 {
    width: 400px;
  }

  .heading-5 {
    font-size: 38px;
    line-height: 45px;
  }

  .text-block-3 {
    font-size: 12px;
  }

  .nav-menu-2.white {
    overflow: auto;
  }

  .navbar-main {
    width: 320px;
  }
}

#w-node-b2fa04e4-2e22-90c7-a217-9eafd3d5ea89-0fd627f2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

